li {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 40px;
  margin: 15px;
  border: 1px solid white;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 7px 0px #00000050;
  text-align: left;
}

span:first-of-type {
  display: inline-block;
  position: absolute;
  top: calc( 50% - .7rem );
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../assets/icons/check.svg") center/cover no-repeat;
  cursor: pointer;
}

.Item--checked  {
  filter: brightness(0) saturate(100%) invert(82%) sepia(11%) saturate(2555%) hue-rotate(78deg) brightness(90%) contrast(78%);
}

.Text {
  margin: 0 15px;
  word-break: break-all;
}

.Text--checked {
  text-decoration: line-through;
}

span:last-of-type {
  display: inline-block;
  position: absolute;
  top: -0.75rem;
  right: 0;
  width: 20px;
  height: 20px;
  background: url("../assets/icons/trash.svg") center/cover no-repeat;
  cursor: pointer;
}

span:last-of-type:hover {
  filter: invert(41%) sepia(46%) saturate(4593%) hue-rotate(334deg) brightness(105%) contrast(122%);
}

