li {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding: 15px 40px;
  margin: 15px;
  border: 1px solid white;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 0px px rgb(148, 148, 148);
  text-align: left;
}

span:first-of-type {
  position: absolute;
  top: calc( 50% - .7rem );
  left: 0;
  cursor: pointer;
}

.Item--checked  {
  color: rgb(0, 218, 0);
}

.Text {
  margin: 0 15px;
}

.Text--checked {
  text-decoration: line-through;
}

span:last-of-type {
  position: absolute;
  top: -0.75rem;
  right: 0;
  cursor: pointer;
}

span:last-of-type:hover {
  color: red;
}

