body {
  position: relative;
}

button {
  --size: 50px;
}

button {
  position: absolute;
  bottom: calc( -1 * var(--size) / 2 );
  right: calc( -1 * var(--size) / 2 );
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 1px solid white;
  font-size: calc( 1.3 * var(--size) / 2 );
  background-color: rgb(255, 185, 185);
}